<!-- AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calculator">

    <application
        android:theme="@style/Theme.Calculator">
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- Set to true if you want this activity to be accessible from other apps -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
